@charset "UTF-08";


@font-face{
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansCondensed-Light.ttf') format('truetype');
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'OpenSans';
  
   
}
html, body{
    height: 100%;
}
 :root{
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02:  'OpenSans', sans-serif;
    
   


 }

.center{
    width: 1280px;
    margin: 0 auto;
   
}

header{
    width: 100%;
    height: 60px;
    background-color: #212343;
}

header img{
  margin: 15px;
}

.conterner-banner{

    width: 100%;
    height: 557px;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
}
.conterner-banner > .center{

    height: 100%;
}

.form{
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
     /* para coseguir manipular as posições left top right*/
     position: relative;
     /*pq a posição relativa me possibililitou usar esse recurso, sendo assim estou usando 100 % da hatura, com + 30px que desceu, e os -15px que subiu, podemos fazeer a mesma coias para qualquer lado que quiserssemos */
     top: -15px;
     border: 8px solid #ccc;
   
    background-color: white;
 
  

}

.form{
    font-weight: normal;
    color: #999999;
    font-size: 1em;
}


span{
margin-top: 20px;
display: inline-block;
width: 100%;
color: #bbbbbb;
font-size: 17px;

}

form > input{
margin-top: 8px;
width: 344px;
height: 55px;
border: 1px solid #ccc;

}

.warning{
    display: inline-block;
    width: 100%;
    color: #bbbbbb;
    font-size: 17px;
    margin: 20px 0;
}

form .enviar{
    text-align:center;
}


form [type =submit]{
    color: white;
    font-size: 25px;
    width: 280px;
    height: 56px;
    display: inline-block;
    background-color: #363A6D;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    cursor: pointer;
    border-bottom: 5px solid #4A5097;


}
form [type =submit]:hover{
    background-color: #323665;
}
